body {
    padding-left: 13%;
    margin: 0 auto;
    font-family: -apple-system, Helvetica, sans-serif;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.lang {
    position: absolute;
    right: 50px;
    top: 50px;
}
.back {
    position: absolute;
}
.island-link {
    flex-basis: 350px;
    text-decoration: none;
}
.island {
    margin-bottom: 60px;
    padding-left: 2%;
    box-sizing: border-box;
    margin-right: 30px;
}
.island.--detail {
    max-width: none;
    float: none;
    width: 70%;
}
.island.--raw {
    width: 100%;
}
a .island {
    color: black;
}
a .island:hover {
    outline: solid black 1px;
    outline-offset: 10px;
}
h1 {
    font-weight: 200;
    font-size: 1.8em;
}
h2 {
    font-weight: 600;
    font-size: 1em;
}
ol {
    list-style: none;
    border-left: solid 1px black;
    padding-left: 10px;
    margin-left: 10px;
}
.directions {
    display: flex;
    flex-wrap: wrap;
}
.island.--detail .direction {
    width: 50%;
    min-width: 250px;
}
.island.--raw .direction {
    float: left;
    width: 30%;
    min-width: 120px;
}
.island.--main .direction ol::after {
    content: 'More...';
    font-size: 80%;
}
.days {
    display: flex;
    flex-wrap: wrap;
}
.day {
    min-width: 300px;
    width: 33%;
}
.date-separator {
    text-align: right;
    font-size: 80%;
}
.date-separator::before {
    content: '';
    background: gray;
    height: 1px;
    width: 100%;
    position: relative;
    display: inline-block;
}
.island.--main .date-separator {
    display: none;
}
.timeslot {
    padding: 5px 0px;
    position: relative;
}
time {
    font-family: -apple-system, sans-serif, monospace;
    font-variant-numeric: tabular-nums;
    font-size: 2em;
}
.fast-ferry {
    background: red;
    height: 38px;
    width: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.slow-ferry {
    background: green;
    height: 38px;
    width: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}
.freight {
    display: none;
}
.reminder {
    color: gray;
    margin-left: 40px;
}
.sidebar {
    font-size: 12px;
    position: fixed;
    top: 130px;
    left: 74%;
    margin-bottom: 50px;
}
.clearfix {
    clear: both;
}
@media (max-width: 500px) {
    .sidebar {
        position: relative;
        top: auto;
        left: auto;
    }

}
